<div class="row">
    <div class="col-3">
        <ngx-select
            [items]="items"
            (itemSelectedEvent)="itemSelected($event)"
            [defaultToggleButtonLabel]="'No Items Selected'"
            [placeholder]="'Search Items'"
            [toggleBtnClass]="'w-75'"
            [toggleContentClass]="'w-100'"
            [parentSelectable]="false"
        ></ngx-select>
    </div>

    <div *ngIf="selectedItem" class="col-9">
        the selected element is
        <span class="ml-1 font-weight-bold font-italic">{{ selectedItem.name }}.</span>
    </div>
</div>
